{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-3",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    "syntax-dynamic-import"
  ]
}
